In [80]:
import os
import numpy  as np
import pandas as pd
import time

In [81]:
start       = time.time()
df          = pd.DataFrame({})
eventsPath  = '/data5/users/carmenromo/PETALO/PETit/PETit-ring/reflect_walls/no_refl_sipms/2_data_pos_charge_no_compton/'
for filename in os.listdir(eventsPath):
    if filename.endswith('.npz'):
        my_file = eventsPath+filename
        d       = np.load(my_file)
        df0     = pd.DataFrame({})
        for (key, vals) in d.items():
            if key=='a_sns_response1' or key=='a_sns_response2':
                df0[key] = [sum(i) for i in vals]
            else:
                df0[key] = vals
        df = pd.concat((df, df0))
end = time.time()
print(end - start)

114.94888854026794

In [79]:
len(df)

89859

In [73]:
df

Empty DataFrame
Columns: []
Index: []

In [63]:
df1 = pd.DataFrame({'val':{'a': 1, 'b':2, 'c':3}})
df2 = pd.DataFrame({'val':{'a': 1, 'b':2, 'c':3}})

In [64]:
df1

   val
a    1
b    2
c    3

In [65]:
df2

   val
a    1
b    2
c    3

In [70]:
df1.concat(df2)

AttributeError: 'DataFrame' object has no attribute 'concat'