In [6]:
import numpy as np
import pandas as pd

In [13]:
filepath = '/Users/carmenromoluque/nexus_petit_analysis/PETit-ring/fastmc/test_files/'
filename = filepath + 'full_body_phantom_coincidences_phot_info_dist_tof_10000_1_2_4_4_2.npz'

In [14]:
d = np.load(filename)
df0     = pd.DataFrame({})
for (key, vals) in d.items():
    df0[key] = vals

In [15]:
df0

,a_true_r1,a_true_phi1,a_true_z1,a_true_r2,a_true_phi2,a_true_z2,a_reco_r1,a_reco_phi1,a_reco_z1,a_reco_r2,...,a_first_time2,a_true_time1,a_true_time2,a_photo1,a_photo2,a_photo_like1,a_photo_like2,a_hit_energy1,a_hit_energy2,a_event_ids
0,392.747390,-1.502141,254.469650,402.096033,1.670899,-171.570541,392.124023,-1.495744,253.511364,399.845245,...,1460.0,1655.371189,1352.500558,False,False,False,False,0.510999,0.510999,300000000
1,401.000304,-1.539426,373.743774,386.305508,1.785302,-280.537689,394.315552,-1.534679,379.800092,393.744904,...,1705.0,1924.892306,1481.308103,False,False,False,False,0.510999,0.510999,300000001
2,404.128270,-0.932216,-51.154907,401.628173,2.162650,-44.347382,396.317139,-0.930989,-51.096322,401.953278,...,1615.0,1126.435280,1565.741062,False,False,False,True,0.510999,0.483633,300000007